.todoListMain{
   width:1000px;
   height:700px;
   margin-left:auto;
   margin-right:auto;
   margin-top:100px;
   border:1px black;
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.75);

}

.header{
    height:100px;
    background: rgb(199, 199, 241);
    border-bottom:1px solid rgb(194, 192, 192);
}

h1{
    color:black;
    float: left;
    margin-left: 75px;
    font-family: monospace;
    font-size:30px;
    
}


input {
    width: 50%;
    padding: 5px 20px;
    margin-top:-5px;
    box-sizing: border-box;
    border-radius: 4px;
    display:block;
    margin-left:75px;
    margin-top:40px;
}

.add{
    margin-left:220px;
    display:inline-block;
    background-color:rgb(218, 218, 243);;
    border: none;
    color: black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius:5px;
    font-family: monospace;
    font-size:20px;
    font-weight: 600;
    margin-top: -35px;
    position: absolute;
}

.task{
    border:0.1px solid black;
    margin-left:10px;
    margin-right:10px;

}
.react-date-picker{
    margin-top:50px;
    margin-left: 75px;
    display:inline-flex;
    align-content: center;
}

.react-date-picker__wrapper{
    position:absolute;
}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    margin-left:45px;
    margin-top:20px;
    width:50%;
     
  } 

  .todoListMain .theList li {
    color: black;
    background-color:rgba(218, 220, 240, 0.959);
    width:500px;
    padding: 9px;
    margin-bottom: 15px;
    margin-left:30px;
    transition: background-color .2s ease-out;
    border-bottom:1px solid rgb(209, 206, 206);
    font-weight: 500;
    font-family: unset;
    font-size:18px;
    text-align:left;
    
}

   
  .todoListMain .theList li:hover {
    background-color: rgb(227, 223, 243);
    cursor: pointer;
  }